<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Polygrath-iWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Polygrath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACBC3F681B9EC9D7007AC186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACBC3F7F1B9EC9D7007AC186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACBC3F8A1B9EC9D7007AC186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACBC3F9E1B9ECA2B007AC186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
